@import "tailwindcss";

@theme {
  /* color */
  --color-Charcoal: #3c4242;
  --color-Silver: #bebcbd;
  --color-Lavender-Mist: #edeef2;
  --color-White-Smoke: #f6f6f6;

  --color-Muted-Gray: #eaeaea;
  --color-Muted-Gray-200: #807d7e;
  --color-Muted-Gray-400: #2a2f2f;

  --color-Electric-Purple: #8a33fd;
  --color-Electric-Purple-200: #6620c1;

  /* container */
  --container-wide: 1240px;
  --breakpoint-large: 1440px;

  /* shadow */
  --shadow-soft: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
  --shadow-medium: 2px 2px 10px 0 rgba(0, 0, 0, 0.4);
}
